@use './break' as *;

#logo {
  font-family: "Cormorant", serif;
  margin: 10px 50px 10px 0px;
  cursor: pointer;
  border-top: 2.5px solid #00502c;
  border-bottom: 4.5px solid #cc9d67;
  padding: 4px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  text-align: center;
  display: block;
  @include mobile{
    padding: 0.3rem;
    border-bottom: 3.5px solid #cc9d67;
    border-top: 1.5px solid #00502c;
  }
  &:hover {
    letter-spacing: 5px;
  }
}
.package-logo {
  margin-right: -2rem;
  a {
    color: #372e1d;
    cursor: pointer;
    text-decoration: none;
  }
}
.fake-header{
  height: 60px;
}
.header {
  background-color: #f1f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  @include mobile{
    width: 100%;
    justify-content: space-between;
  }
  .btn-main-left {
    width: 300px;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border: none;
    @include mobile{
      width: 100px;
    }
    @include tablet{
      width: 120px;
    }
  }
  .ham-btn{
    display: none;
    margin-left: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 50px;
    margin-right: 5px;
    @include mobile{
      display: flex;
      height: 34px;
      width: 30px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .ham-line-1{
      width: 15px;
      height: 2px;
      background-color: #2a2a2a;
      margin-bottom: 2px;
    }
    .ham-line-2{
      width: 15px;
      height: 2px;
      background-color: #2a2a2a;
      margin-bottom: 2px;
    }
    .ham-line-3{
      width: 15px;
      height: 2px;
      background-color: #2a2a2a;
    }
  }
  div {
    display: flex;
    align-items: center;
    .menu-btn {
      min-width: 110px;
      height: 10vh;
      background-color: #372e1d;
      color: white;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

.user-btn,
.bag-btn {
  background-color: transparent;
  border: none;
  text-align: center;
  color: #372e1d;
  padding: 0px 25px;
  cursor: pointer;
  display: block;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  width: 100%;
  letter-spacing: 0;
  @include tablet{
    font-size: 20px;
  }
  @include mobile{
    font-size: 15px;
    padding: 0px;
  }
}


.user-btn:hover,
.user-btn:active,
.bag-btn:hover,
.bag-btn:active {
  letter-spacing: 5px;
  background-color: transparent;
}

.user-btn::after,
.user-btn::before,
.bag-btn::after,
.bag-btn::before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.user-btn:hover::after,
.user-btn:hover::before,
.bag-btn:hover::after,
.bag-btn:hover::before {
  backface-visibility: hidden;
  border-color: #00502c;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.user-btn:hover::before,
.bag-btn:hover::before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.pro-btn-header {
  width: 38%;
  display: flex;
  justify-content: space-between;
  @include mobile{
    display: none;
  }
  li {
    list-style: none;
    cursor: pointer;
    a {
      color: #2a2a2a;
      cursor: pointer;
      text-decoration: none;
    }
  }
}