@use './index' as *;
.product-detail{
    min-height: 82vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    @include tablet{
        display: flex;
        flex-direction: column;
    }
    .name-product{
        font-family: "Jost", sans-serif;
        font-size: 4rem;
        font-weight: bold;
        color: rgb(79, 79, 79);
    }
    .price-product{
        font-size: 2rem;
        font-weight: bold;
        color: rgb(28, 28, 28);
        margin-top: 20px;

    }
    .memory-product{
        font-weight: normal;
        font-size: 2rem;
        margin-top: 20px;
    }
    img{
        margin-right: 50px;
        width: auto;
        height: 700px;
        @include tablet{
            height: 500px;
        }
        @include mobile{
            height: 300px;
            margin-right: 0px;
        }
    }
}

.btn-color-product{
    width: 100%;
    display: flex;
    align-items: center;
    @include tablet{
        margin-bottom: 20px;
    }
    button{
        display: flex;
        width: 50px;
        height: 50px;
        margin-right: 1rem;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid rgb(153, 153, 153);
        margin-top: 20px;
        &:focus{
            border: 5px solid white;
            outline: 2px solid rgb(132, 131, 131);
        }
        @include mobile{
            width: 35px;
            height: 35px;
        }
    }
}
.name-price-con{
    @include mobile{

        display: flex;
        justify-content: space-between;
        margin-right: 50px;
    }
    
}
.product-config{
    width: 30%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-content: space-between;
    @include tablet{
        width: 100%;
        height: fit-content;
    }
}

.btn-add-cart{
    width: 80%;
    min-height: 5vh;
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    padding: 2rem;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    @include mobile{
        width: 50%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
.mini-img-product{
    display: flex;
    flex-direction: column;
    @include mobile{
        display: none;
    }
    img{
        height: 200px;
        width: auto;
        margin-top: 20px;
        cursor: pointer;
        @include tablet{
            height: 150px;
        }
    }
}
.img-product{
    display: flex;
}