@use './index' as *;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
html{
  font-size: 100%;
  @include tablet{
      font-size: 80%;
  }
  @include mobile{
      font-size: 60%;
  }
}

button,input{
  outline: none;
}


@import './header';
@import './main';
@import './mobileproduct';
@import "./secondmain";
@import "./categories";
@import "./login";
@import "./signup";
@import './product';
@import './footer';
@import './popular-sec';
